*/*
!.gitignore

!coco/captions.csv
# !coco/images

!sfcoco2021/captions.csv
!sfcoco2021/images

!sfcoco2022/captions.csv
!sfcoco2022/images

!sfcoco_merged/captions.csv
!sfcoco_merged/merge_2021_and_2022.py